@page
@model UltimateFunCenter.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 style="color: blue;">Details</h1>

@{
    ViewData["Title"] = "Details";
}

<h1 class="title-color">Details</h1>

<div>
    <h4 class="subtitle-color">Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 label-color">
            @Html.DisplayNameFor(model => model.Booking.DateTime)
        </dt>
        <dd class="col-sm-10 value-color">
            @Html.DisplayFor(model => model.Booking.DateTime)
        </dd>
        <dt class="col-sm-2 label-color">
            @Html.DisplayNameFor(model => model.Booking.Duration)
        </dt>
        <dd class="col-sm-10 value-color">
            @Html.DisplayFor(model => model.Booking.Duration)
        </dd>
        <dt class="col-sm-2 label-color">
            @Html.DisplayNameFor(model => model.Booking.User)
        </dt>
        <dd class="col-sm-10 value-color">
            @Html.DisplayFor(model => model.Booking.User.Id)
        </dd>
        <dt class="col-sm-2 label-color">
            @Html.DisplayNameFor(model => model.Booking.Facility)
        </dt>
        <dd class="col-sm-10 value-color">
            @Html.DisplayFor(model => model.Booking.Facility.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking.Id" class="link-color">Edit</a> |
    <a asp-page="./Index" class="back-link-color">Back to List</a>
</div>
