@page
@using Microsoft.AspNetCore.Authorization
@model UltimateFunCenter.Pages.Bookings.IndexModel
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Facility)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (User.IsInRole("Admin"))
        {


            @foreach (var item in Model.Booking)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Facility.Description)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
        else
            {
                @foreach (var item in Model.Booking)
                {
                @if (item.UserId.Equals(User.FindFirstValue(ClaimTypes.NameIdentifier)))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Facility.Description)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                    }
                }
            }
        
    </tbody>
</table>
